* {
  box-sizing: border-box;
}
* * {
  box-shadow: 0 0 0 1px lawngreen;
}
body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
}
img {
  max-width: 100%;
}
.blueHat {
  background-color: #00796B;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.blueHat .bluehat-container {
  display: grid;
  grid-template-columns: 173px 452px 1fr;
  max-width: 974px;
  margin: 0 auto;
}
.blueHat .bluehat-container .bluehat-container-item {
  height: 45px;
  display: block;
}
.blueHat .bluehat-container .bluehat-container-item:first-child {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2234%22%20height%3D%2219%22%20viewBox%3D%220%200%2034%2019%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M31.5584982%2C1.28655527%20C31.7808894%2C0.544942969%2031.5584984%2C0%2030.500061%2C0%20L27.000061%2C0%20C26.1101263%2C0%2025.6998536%2C0.470750876%2025.4773391%2C0.989848628%20C25.4773391%2C0.989848628%2023.6974695%2C5.32823432%2021.1760494%2C8.14629935%20C20.3603068%2C8.96204202%2019.9894697%2C9.2215909%2019.5445024%2C9.2215909%20C19.3220495%2C9.2215909%2018.9883086%2C8.96204202%2018.9883086%2C8.22049144%20L18.9883086%2C1.28655527%20C18.9883086%2C0.396620508%2018.7417351%2C0%2018.000061%2C0%20L12.500061%2C0%20C11.943929%2C0%2011.6094667%2C0.413039057%2011.6094667%2C0.804491844%20C11.6094667%2C1.64813371%2012.8701151%2C1.84268735%2013.000061%2C4.21584672%20L13.000061%2C9.36997508%20C13.000061%2C10.5%2012.7959847%2C10.7048772%2012.3510173%2C10.7048772%20C11.1644994%2C10.7048772%208.27829116%2C6.34711025%206.56650306%2C1.36068564%20C6.23103383%2C0.391497427%205.89456337%2C0%205.00006104%2C0%20L1.50006104%2C0%20C0.500061035%2C0%200.300048828%2C0.470750876%200.300048828%2C0.989848628%20C0.300048828%2C1.91687944%201.48662852%2C6.514814%205.82495248%2C12.5959115%20C8.71714788%2C16.7488169%2012.7920612%2C19%2016.500061%2C19%20C18.7248362%2C19%2019.000061%2C18.5%2019.000061%2C17.6387517%20L19.000061%2C14.5%20C19.000061%2C13.5%2019.2108231%2C13.3004277%2019.9153394%2C13.3004277%20C20.4344371%2C13.3004277%2021.3243719%2C13.5599766%2023.4008863%2C15.5622989%20C25.773984%2C17.9353966%2026.1652206%2C19%2027.500061%2C19%20L31.000061%2C19%20C32.000061%2C19%2032.500061%2C18.5%2032.2116188%2C17.513278%20C31.8959765%2C16.5298527%2030.7629505%2C15.1030336%2029.259531%2C13.4116541%20C28.4437266%2C12.447589%2027.2201126%2C11.4093935%2026.8492755%2C10.8901723%20C26.3301778%2C10.2228138%2026.4785003%2C9.92610716%2026.8492755%2C9.33287904%20C26.8492755%2C9.33287904%2031.1135309%2C3.32591196%2031.5584982%2C1.28655527%20Z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: 8px 11px;
  background-size: 34px;
}
.blueHat .bluehat-container .bluehat-container-item .text-form {
  background-color: #00463e;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%3E%3Cpath%20fill%3D%22%2300c5af%22%20d%3D%22M9.95856088%2C8.72112401%20L13.6187184%2C12.3812816%20C13.9604272%2C12.7229903%2013.9604272%2C13.2770097%2013.6187184%2C13.6187184%20C13.2770097%2C13.9604272%2012.7229903%2C13.9604272%2012.3812816%2C13.6187184%20L8.72112401%2C9.95856088%20C7.81577964%2C10.6137756%206.70299359%2C11%205.5%2C11%20C2.46243388%2C11%200%2C8.53756612%200%2C5.5%20C0%2C2.46243388%202.46243388%2C0%205.5%2C0%20C8.53756612%2C0%2011%2C2.46243388%2011%2C5.5%20C11%2C6.70299359%2010.6137756%2C7.81577964%209.95856088%2C8.72112401%20Z%20M5.5%2C9.25%20C7.57106781%2C9.25%209.25%2C7.57106781%209.25%2C5.5%20C9.25%2C3.42893219%207.57106781%2C1.75%205.5%2C1.75%20C3.42893219%2C1.75%201.75%2C3.42893219%201.75%2C5.5%20C1.75%2C7.57106781%203.42893219%2C9.25%205.5%2C9.25%20Z%22%2F%3E%3C%2Fsvg%3E%0A");
  background-repeat: no-repeat;
  background-position: 9px 10px;
  background-size: 13px;
  border-radius: 14px;
  width: 230px;
  height: 28px;
  border: none;
  margin: 7px 0 0;
  color: #FFFFFF;
  padding-left: 29px;
  font-size: 13px;
}
.blueHat .bluehat-container .bluehat-container-item .text-form::-webkit-input-placeholder {
  color: #00c5af;
}
.blueHat .bluehat-container .bluehat-container-item .text-form:focus {
  background: #FFFFFF;
  color: #00796B;
  outline: none;
}
.blueHat .bluehat-container .bluehat-container-item .text-form:focus::-webkit-input-placeholder {
  color: transparent;
}
.header-with-background {
  background-image: url('../img/holl.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  min-height: 100vh;
}
.header-with-background h1 {
  margin: 0;
  text-align: center;
  color: #212121;
  text-shadow: 0px 1px #FFFFFF;
  padding: 40vh 15vw 0;
}
.forma-123 label {
  color: #757575;
}
.forma-123 label .title {
  display: block;
  margin-left: 15px;
}
.forma-123 input {
  margin-left: 15px;
  border-radius: 12px;
}
.forma-123 button {
  display: inline-block;
  padding: 5px;
  background: #FF5722;
  color: white;
  border: 0ch;
  font-size: 17px;
  text-decoration: none;
  margin-left: 15px;
  cursor: pointer;
}
.forma-123 button:hover {
  background: dimgray;
}
.btn {
  display: inline-block;
  padding: 5px;
  background: #FF5722;
  color: white;
  border: 0ch;
  font-size: 17px;
  text-decoration: none;
  margin-left: 15px;
  cursor: pointer;
}
.btn:hover {
  background: dimgray;
}
nav ul,
nav li,
nav b,
nav a {
  color: #212121;
  text-decoration: none;
  padding: 14px 0 0 0;
  margin: 0 0 2px 5px;
  font-family: Georgia;
}
td,
th {
  border: 1px solid #FFFFFF;
  text-align: left;
  padding: 8ph;
}
.header1 {
  background-color: #00796B;
  text-align: left;
  font-size: 25px;
  font-family: Georgia;
}
.header1,
h2 {
  color: #757575;
}
nav {
  padding: 87px 149px 206px 69px;
  float: left;
  background: #e8e8e8;
}
nav ul {
  list-style-type: none;
  padding: 17px 0 4px 0;
}
article {
  float: right;
  padding: 9px 0 20px 17px;
  width: 70%;
  background-color: #FFFFFF;
  color: #757575;
  height: 140px;
}
h2 {
  margin-left: 75px;
  font-family: Georgia;
  font-size: 35px;
}
h3 {
  color: #FF5722;
}
.rooms {
  color: #FFFFFF;
}
.history_and_culture {
  text-align: center;
  text-decoration: underline overline;
  font-family: fantasy;
}
.block-description {
  display: grid;
  grid-template-rows: 20px 250px 72px;
  max-width: 474px;
  margin-left: 1000px;
}
.block-description .fact {
  text-align: center;
  font-size: 15px;
  padding: 0px;
}
.block-description .fact-img {
  padding: 12px;
  background-image: url('../img/facts.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.block-description .fact-description {
  text-align: center;
  font-size: 16px;
  padding: 0px;
}
.grid-system {
  display: grid;
  grid-template-columns: 3fr 4fr 4fr;
  padding: 10px;
  gap: 37px;
  width: 100%;
}
.grid-system .item {
  background: #00796B;
  padding: 16px;
}
.grid-system .item:first-child {
  background: #009688;
}
.grid-system .item:last-child {
  background: #212121;
}
.grid-system .item img {
  display: block;
  width: 100%;
  height: 250px;
}
.grid-system .item p {
  color: white;
  text-shadow: 0 0 5px #212121;
  text-transform: uppercase;
  padding: 28px;
}
.grid-system .item1 {
  background: #00796B;
}
.grid-system .item1 img {
  padding: 29px 14px 0px 14px;
  width: 108%;
  height: 286px;
}
.grid-system .item1 p {
  padding: 17px 12px 10px 23px;
  color: #FFFFFF;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 0 0 2px #212121;
}
.grid-system .item2 {
  background: #00796B;
}
.grid-system .item2 img {
  padding: 29px 27px 0px 29px;
  width: 108%;
  height: 293px;
}
.grid-system .item2 p {
  padding: 44px 12px 10px 23px;
  color: #FFFFFF;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 0 0 2px #212121;
}
.grid-system .item3 {
  background: #00796B;
}
.grid-system .item3 img {
  padding: 29px 27px 0px 29px;
  width: 108%;
  height: 293px;
}
.grid-system .item3 p {
  padding: 17px 12px 10px 23px;
  color: #FFFFFF;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 0 0 2px #212121;
}
.grid-system .item4 {
  background: #00796B;
}
.grid-system .item4 img {
  padding: 29px 27px 7px 29px;
  width: 108%;
  height: 293px;
}
.grid-system .item4 p {
  padding: 17px 12px 10px 23px;
  color: #FFFFFF;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 0 0 2px #212121;
}
.grid-system .item5 {
  background: #00796B;
}
.grid-system .item5 img {
  padding: 29px 27px 0px 29px;
  width: 108%;
  height: 293px;
}
.grid-system .item5 p {
  padding: 44px 12px 10px 23px;
  color: #FFFFFF;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 0 0 2px #212121;
}
.grid-system .item6 {
  background: #00796B;
}
.grid-system .item6 img {
  padding: 29px 14px 0px 14px;
  width: 108%;
  height: 297px;
}
.grid-system .item6 p {
  padding: 17px 12px 10px 23px;
  color: #FFFFFF;
  font-family: fantasy;
  text-transform: uppercase;
  text-shadow: 0 0 2px #212121;
}
@media (max-width: 800px) {
  .grid-system {
    grid-template-columns: 1fr;
  }
}
.just-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  align-items: baseline;
  background-color: rgba(178, 223, 219, 0.65);
}
.just-footer .footer-container-item2 {
  padding: 16px;
  color: black;
}
.just-footer .footer-container-item4 {
  padding: 6px 34px 3px;
  margin: 0 0 0 44px;
  text-decoration: none;
  background-color: rgba(178, 223, 219, 0.65);
  color: black;
  font-size: 15px;
}
.just-footer .footer-container-item4:hover {
  background: rgba(178, 223, 219, 0.85);
}
.comment-main {
  position: relative;
  top: 5px;
  display: inline-block;
  width: 100%;
  padding: 12px;
}
.comment-main .comment {
  color: #757575;
  font-size: 24px;
  position: inherit;
  top: 2px;
  left: 650px;
  font-family: Georgia;
}
