@import "palette";
@main-font: Georgia;
* {
    box-sizing: border-box;
}

body {
    font-family: Arial sans-serif;
    margin: 0;
    padding: 0;
    background: whitesmoke;
}

img {
    max-width: 100%;
}
.blueHat {
    background-color: @darkPrimaryColor;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    height: 42px;
    .bluehat-container {
        display: grid;
        grid-template-columns: 216px 452px 1fr;
        max-width: 975px;
        margin: 0 auto;
        .bluehat-container-item {
            height: 45px;
             display: block;
            
            &:first-child {
                background-image: data-uri('../img/ic_head_logo.svg');
                background-repeat: no-repeat;
                background-position: 6px center;
                background-size: 34px;
                margin: -2px 10px 0 0;
                &:nth-child(2){
                    margin: 12px 2px 3px 2px;
                    background-image: data-uri('../img/ic_head_logo.svg');
                    width: 23px;
                    height: 23px;

                }
                
            }
            .text-form {
                background-color: darken(@darkPrimaryColor, 10%);
                background-image: data-uri('../img/ic_head_loupe.svg');
                background-repeat: no-repeat;
                background-position: 8px 8px;
                background-size: 15px;
                border-radius: 14px;

                width: 230px;
                height: 28px;
                border: none;
                margin: 7px 0 0 -46px;
                color: white;
                padding-left: 27px;
                font-size: 13px;
                &::-webkit-input-placeholder {
                    color: lighten(@darkPrimaryColor, 15%);
                }
                &:focus {
                    background: white;
                    color: @darkPrimaryColor;
                    outline: none;
                    &::-webkit-input-placeholder {
                        color: transparent;
                    }
                }
            }
        }
    }
}

.header-with-background {
    background-image: url('../img/holl.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    min-height: 100vh;
    h1 {
        margin: 0;
        text-align: center;
        color: black;
        text-shadow: 0px 1px white;
        padding: 40vh 15vw 0;
    }
}

.forma-123 {
    label {
        color: dimgray;
        .title {
            display: block;
            margin-left: 15px;
        }
    }
    input {
        margin-left: 15px;
        border-radius: 12px;
    }
    button {
        .btn;
    }
}

.btn {
    display: inline-block;
    padding: 5px;
    background: @accentColor;
    color: white;
    border: 0ch;
    font-size: 17px;
    text-decoration: none;
    margin-left: 15px;
    cursor: pointer;
    &:hover {
        background: dimgray;
    }
}

nav {
    ul,
    li,
    b,
    a {
        color: @accentColor;
    }
}

section {
    &:after {
        content: "";
        display: table;
        clear: both;
        color: #b5525c;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8ph;
}

.header1 {
    background-color: white;
    text-align: left;
    font-size: 25px;
}

.header1,
h2 {
    color: dimgray;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: dimgray;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: right;
    padding: 20px;
    width: 70%;
    background-color: gray;
    height: 300px;
}

footer {
    background-color: whitesmoke;
    padding: 1px;
    text-align: center;
    color: dimgray;
}

@media (max-width: 600px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
}

.mainLink {
    color: white;
}

h2 {
    margin-left: 75px;
    font-family: @main-font;
}

.history_and_culture {
    text-align: center;
    text-decoration: underline overline;
    font-family: fantasy;
}

.imgHotel {
    margin-left: 1100px;
    width: 20%;
}

.fact {
    text-align: right;
    color: dimgray;
    font-family: Georgia;
    font-size: 16pt;
    display: block;
    img {
        float: right;
        width: 350px;
        height: 300px;
    }
}

.fact2 {
    text-align: right;
    font-size: 100%;
    color: dimgray;
    font-family: @main-font;
}

.grid-system {
    display: grid;
    grid-template-columns: 4fr 6fr 4fr;
    padding: 10px;
    gap: 10px;
    width: 100%;
    .item {
        background: #050;
        padding: 16px;
        &:first-child {
            background: #500;
        }
        &:last-child {
            background: #005;
        }
        img {
            display: block;
            width: 100%;
            height: 150px;
        }
        p {
            color: white;
            text-shadow: 0 0 5px black;
            text-transform: uppercase;
        }
    }
}

@media(max-width:800px) {
    .grid-system {
        grid-template-columns: 1fr;
    }
}

.description {
    margin-left: 1100px;
    color: dimgray;
}
